*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
}

.clear {
    content: "";
    clear: both;
    display: table;
}  

:root {
    --main-color: #fe5000;
    --main-add-color: #fff;
    --secondary-color: #1f2326;

    --shape: polygon(calc(100% - 12px) 0, 100% 12px, 100% 100%, 12px 100%, 0 calc(100% - 12px), 0 0);
    --big-shape: polygon(calc(100% - 24px) 0, 100% 24px, 100% 100%, 24px 100%, 0 calc(100% - 24px), 0 0);
    /* --main-font: 'Montserrat' Verdana, Geneva, Tahoma, sans-serif; */
}

html {
    overflow-x: hidden;
}

/* CUSTOM SCROLLBAR */
/* NOT WORKING ON FIREFOX, IE */
/* IF NEEDED, THEN USE SIMPLEBAR.JS */

body::-webkit-scrollbar {
    width: 12px;
}
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
body::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border: 2px solid var(--secondary-color);
    box-shadow: 0 0 40px var(--main-color);
}

body {
    background-color: var(--secondary-color);
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: var(--secondary-color) no-repeat center / cover url(assets/main-bg.png);
}

@media only screen and (max-width: 1080px) {
    .background {
        background: var(--secondary-color);
    }
}

hr {
    position: absolute;
    top: 80px;
    width: 100%;
    margin: 0;
    border: none;
    height: 2px;
    color: var(--secondary-color); /* OLD IE */
    background-color: var(--secondary-color); /* OTHERS */
}

.before-footer {
    display: none;
    position: relative;
    top: 60px;
    width: 70%;
    margin: 0 auto;
    border: none;
    height: 2px;
    color: var(--main-add-color); /* OLD IE */
    background-color: var(--main-add-color); /* OTHERS */
    display: none;
}

a {
    text-decoration: none;
}

/* NAVBAR: DESKTOP */

.nav-desk {
    display: grid;
    grid-template-columns: 120px 1fr 80px 120px;
    width: 100%;
    height: 80px;

    background-color: var(--main-color);
}

    .nav-logo {
        display: inline-block;
        position: relative;
        width: 60px;
        height: 60px;
        left: 40px;
        top: 10px;
    }

    .nav-desk ul {
        height: 80px;
        list-style: none;
        font-size: 0;
    }

    .nav-desk ul a {
        color: var(--main-add-color);
        font-size: 16px;
        font-weight: 800;
        text-transform: uppercase;
        display: inline-block;
        height: 80px;

        transition: all .25s;
    }

    .nav-desk ul li {
        display: inline-block;
        margin: 30px 1vw;
        transition: all 0.8s;
    }

    .nav-desk ul a:hover {
        color: var(--main-color);
        background-color: var(--main-add-color);
        box-shadow: 0 0 60px var(--main-add-color);
    }

    .nav-desk ul a:active {
        box-shadow: 0 0 60px var(--main-color);
    }

    .nav-desk ul a:hover .nav-active {
        border-bottom: 3px solid var(--main-color);
    }

    .search-input {
        display: none;
        position: absolute;
        top: 0;
        left: 120px;
        width: calc(100vw - 340px);
        height: 80px;
        padding: 24px;
        background-color: var(--main-color);

        z-index: 4;

        transition: all .25s;
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: var(--main-add-color);
        opacity: 0.5;
      }
      
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: var(--main-add-color);
        opacity: 0.5;
      }
      
      ::-ms-input-placeholder { /* Microsoft Edge */
        color: var(--main-add-color);
        opacity: 0.5;
      }

    .search-input input {
        font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        width: 100%;
        height: auto;
        border: none;
        outline: none;
        color: var(--main-add-color);
        background-color: var(--main-color);
    }
    
    .search-container a {
        color: var(--main-add-color);
        display: block;
        width: 100%;
        height: 100%;
        cursor: pointer;

        transition: all .25s;
    }

    .search-container a i {
        position: relative;
        left: calc(40px - 10px);
        top: calc(40px - 12px);
        font-size: 20px;
    }

    .search-container a:hover {
        color: var(--main-color);
        background-color: var(--main-add-color);
        box-shadow: 0 0 60px var(--main-add-color);
    }

    .search-container .active-search {
        color: var(--main-color);
        background-color: var(--main-add-color);
        clip-path: var(--shape);
    }

    .lang-container a {
        position: relative;
        color: var(--main-add-color);
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        font-weight: 800;

        transition: all .25s;
    }

    .lang-container a span {
        position: relative;
        top: 30px;
    }

    .lang-container-option {
        display: none;
        width: 100%;
        height: 100%;
    }

    .lang-container-option a {
        color: var(--main-add-color);
        position: absolute;
        display: block;
        top: 80px;
        width: 120px;
        height: 80px;
        text-align: center;
        font-weight: 800;

        z-index: 2;
        background-color: var(--main-color);
        /* border-top: 1px solid var(--main-color); */
        clip-path: var(--shape);

        transition: all .25s;
    }
    
    .lang-container-option a span {
        position: relative;
        top: 30px;
    }
    
    .lang-container a:hover {
        color: var(--main-color);
        background-color: var(--main-add-color);
        box-shadow: 0 0 60px var(--main-add-color);
    }

    .lang-container-option a:hover {
        color: var(--secondary-color);
        background-color: var(--main-add-color);
    }

    .lang-container:hover .lang-container-option {
        display: block;
    }

    .mobile-menu {
        display: none;
    }

    .mobile-menu-container ul a:hover {
        color: var(--main-color);
        background-color: var(--main-add-color);

        box-shadow: 0 0 20px var(--main-add-color);
    }

    .mobile-search-container {
        width: 86%;
        height: 80px;
        font-size: 0;
        margin: 0 auto;

        background-color: var(--secondary-color);
    }

    .mobile-search-container div {
        display: inline-block;
    }

    .mobile-search-input {
        display: inline-block;
        margin-top: 30px;
        width: calc(100% - 82px);
    }

    .mobile-search-input input {
        font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        width: 100%;
        height: 40px;
        border: none;
        outline: none;
        color: var(--secondary-color);
        background-color: var(--main-add-color);

        box-shadow: 0 0 10px var(--main-add-color);
    }

    .mobile-search-icon {
        display: inline-block;
        position: relative;
        top: -10.8px;
        left: 0;
        width: 82px;
        height: 40px;
        cursor: pointer;

        box-shadow: 0 0 10px var(--main-color);
    }

    .mobile-search-container #search-icon {

        color: var(--main-add-color);
        display: block;
        width: 100%;
        height: 100%;

        background-color: var(--main-color);
    }

    .mobile-search-container a i {
        position: relative;
        left: calc(40px - 10px);
        top: calc(20px - 12px);
        font-size: 20px;
    }

    .mobile-lang-container {
        width: 100%;
        height: 80px;
        font-size: 0;

        background-color: var(--secondary-color);
    }

    .mobile-change-lang {
        display: inline-block;
        width: 50%;
        height: 100%;
        padding: 15px 30px 25px;
    }

    .mobile-change-lang span {
        display: block;
        font-size: 14px;
        font-weight: 600;
        font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
        position: relative;
        top: 10px;
        left: 0;
        width: 100%;
        text-align: center;

        color: var(--main-add-color);
    }

    .selected-lang {
        width: 100%;
        height: 100%;
        color: var(--main-add-color);
        background-color: var(--main-color);
        border: 2px solid var(--main-add-color);
        clip-path: var(--shape);

        transition: all .25s;
    }

    .second-lang {
        width: 100%;
        height: 100%;
        color: var(--secondary-color);
        border: 2px solid var(--main-color);
        clip-path: var(--shape);

        transition: all .25s;
    }

    .mobile-change-lang .selected-lang:hover {
        border: 2px solid var(--main-color);
    }

    .mobile-change-lang .second-lang:hover {
        border: 2px solid var(--main-add-color);
    }

    /* DROPDOWN */

    .nav-desk li.drop-el {
        position: relative;
        top: -30px;
        display: inline-block;
        margin: 0;
    }

    .drop-a {
        position: relative;
        top: 30px;
        margin: 0 1vw;
    }

    .nav-desk .dropdown {
        position: absolute;
        top: 80px;
        left: 0;
        display: none;
        width: 160px;
        height: fit-content;

        z-index: 2;
        background-color: var(--secondary-color);
        border: 2px solid var(--main-color);
        clip-path: var(--shape);
    }

    .dropdown .second-li {
        display: block;
        margin: 0;
    }

    .dropdown .second-li a {
        width: 100%;
        font-size: 14px;
        height: fit-content;
        padding: 14px;
    }

    .nav-desk .dropdown ul li a {
        color: var(--main-color);
        margin: 0;
    }

    .drop-el:hover ul.dropdown {
        display: inline-block;
    }

    .drop-el i {
        font-size: 12px;
    }

    @media only screen and (max-width: 1080px) {
        .navigation-container {
            opacity: 0;
            z-index: -5;
        }

        .nav-desk {
            grid-template-columns: 1fr 80px 100px 100px;
        }

        .search-input {
            width: calc(100vw - 400px);
        }

        .mobile-menu {
            display: block;
        }
            
        .navigation-container {
            display: none;
        }
    }

/* MOBILE MENU */

@media only screen and (max-width: 720px) {
    .nav-desk {
        grid-template-columns: 120px 1fr;
    }

    .mobile-menu {
        display: block;
    }

    .navigation-container {
        display: none;
    }

    .search-container {
        display: none;
    }

    .lang-container {
        display: none;
    }
}

#mobile-toggle {
    display: none;
}

nav label {
    float: right;
    width: 44.8px;
    cursor: pointer;
    display: block;
    font: 32px sans-serif;
    padding: 8px;
    margin: 18px 24px 0 0;
}

    #menu-icon,
    #menu-icon:before,
    #menu-icon:after {
        background: var(--main-add-color);
        height: 0.1em;
        transition: all 0.2s ease-in-out;
        width: 100%;
    }

    #menu-icon {
        display: inline-block;
        margin: 0.4em 0;
        max-width: 1em;
        position: relative;
    }

    nav label #menu-icon {
        float: right;
    }

    #menu-icon:before,
    #menu-icon:after {
        content: '';
        left: 0;
        position: absolute;
    }

    #menu-icon:before {
        top: -0.4em;
    }

    #menu-icon:after {
        bottom: -0.4em;
    }

.mobile-menu-container {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100vh;

    z-index: 5;

    background-color: var(--secondary-color);
}

    nav input[type=checkbox]:checked + label #menu-icon {
        background: transparent;
    }

    nav input[type=checkbox]:checked + label #menu-icon:before {
        top: 0;
        transform: rotate(-45deg);
    }

    nav input[type=checkbox]:checked + label #menu-icon:after {
        bottom: 0;
        transform: rotate(45deg);
    }

    nav input[type=checkbox]:checked ~ .mobile-menu-container {
        display: block;
    }

    .mobile-menu-container .mobile-ul {
        display: block;
        height: fit-content;
        background-color: var(--secondary-color);
        /* IMAGE JUMPING WHEN WE TOGGLE DROPDOWN */
        /* background: 20% / cover no-repeat url("assets/main-bg.png"); */
    }

    .mobile-menu-container .dropdown-mobile {
        display: none;
        height: calc(80px * 7);
    }

    .mobile-menu-container .mobile-ul a {
        width: 100%;
        padding: 20px;
    }

    .mobile-menu-container .mobile-ul a li {
        margin: 10px 0 0 40px;
    }

        .mobile-menu-container .drop-mobile-el {
            width: 100%;
            margin: 0;
        }

        .mobile-menu-container .dropdown-mobile li {
            margin: 0;
        }

        .mobile-menu-container .drop-mobile-el .drop-a {
            position: relative;
            top: 10px;
            left: 0;
            margin: 10px 0 0 40px;
        }

        .mobile-menu-container .dropdown-mobile .mobile-li {
            display: block;
        }

        .mobile-menu-container .dropdown-mobile .mobile-li a {
            padding: 26px 20px 20px 80px;
        }

        .mobile-menu-container .dropdown-mobile .mobile-li a i {
            margin-right: 10px;
        }


    .nav-active {
        border-bottom: 3px solid var(--main-add-color);
    }
    
/* MAIN PAGE */

.main {
    width: 100%;
    /* height: 100%; */
}

    .main-article {
        display: block;
        width: 80%;
        height: fit-content;
        margin: 40px auto 0;
        z-index: 0;

        /* background-color: var(--main-color);  */
    }

    .main-article .main-grid {
        display: grid;
        grid-template-columns: 5fr 3fr;
        font-size: 0;
    }

        .main-article figure {
            position: relative;
            width: 100%;
            height: 100%;
        }
        
        .main-article figure img {
            width: 100%;
            height: 100%;
            
            clip-path: var(--big-shape);
        }

        .main-article figure .article-tag {
            position: absolute;
            top: 0;
            right: 0;
            margin: 14px 18px;
            padding: 14px 18px;
            color: var(--secondary-color);
            font-size: 14px;
            font-weight: 800;
            text-transform: uppercase;
            letter-spacing: 1px;
            z-index: 1;

            transition: all .25s;
            background-color: var(--main-add-color);
            clip-path: var(--shape);
        }

        .main-article figure .article-tag:hover {
            color: var(--main-add-color);
            background-color: var(--main-color);
        }

        .main-article figcaption {
            display: block;
            position: relative;
            top: 0;
            width: 100%;
            height: 60%;
            padding: 30px;
            margin: calc(20% - 17px) 0;

            min-width: 200px;

            background-color: var(--main-add-color);
            clip-path: var(--big-shape);
        }

        .main-article .main-grid figcaption h1 {
            color: var(--secondary-color);
            font-size: 26px;
            font-weight: 800;
        }

        .main-article .main-grid figcaption .article-date {
            position: absolute;
            bottom: 30px;
            right: 30px;
            color: var(--secondary-color);
            font-size: 14px;
            font-weight: 600;
        }

        .main-article .main-grid:hover figcaption h1 {
            transition: all .25s;
            color: var(--main-color);
        }

        @media only screen and (max-width: 1280px) {
            .main-article figcaption {
                height: 100%;
                margin: 0;
                padding: 30px;
            }
        }

        @media only screen and (max-width: 1080px) {
            .main .main-article {
                width: calc(100% - 80px);
                margin: 40px auto 0;
            }

            .main-article figure {
                background-color: var(--main-add-color);
            }

            .main-article figcaption {
                clip-path: none;
            }
        }

        @media only screen and (max-width: 920px) {
            .main .main-article {
                width: 96%;
                margin: 20px auto 0;
            }

            .main-article .main-grid {
                grid-template-columns: 1fr;
            }

            .main-article figure .article-tag {
                margin: 2vw 4vw;
                padding: 2vw 4vw;
                font-size: 2vw;
                letter-spacing: 0.45px;
                font-weight: 800;
            }

            .main-article .main-grid figcaption h1 {
                color: var(--secondary-color);
                font-size: 20px;
                font-weight: 800;
            }

            .main-article .article-date {
                display: none;
            }
        }

    .articles-grid {
        width: 80%;
        height: fit-content;
        margin: 40px auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 440px 440px;
        gap: 0 40px;
        justify-items: center;
    }

    .articles-container {
        display: grid;
        grid-template-rows: 1fr 1fr;

        width: 100%;
        max-width: 465px;
        height: calc(100% - 160px);
    }

    .articles-container:hover h2 {
        color: #fe5000;
    }

    .articles-container figure {
        grid-row: 1 / 2;
        width: 100%;
        height: 200px;
        padding-right: 20px;
    }

    .articles-container figure img {
        position: relative;;
        max-width: 100%;
        width: 100%; 
        z-index: 1;
        clip-path: var(--shape);
    }

    .articles-container figcaption {
        display: grid;
        grid-template-rows: 1fr 18px;
        justify-content: space-evenly;
        grid-row: 2 / 3;
        position: relative;
        top: -80px;
        width: calc(100% - 20px);
        height: 280px;
        margin: 0 20px;

        z-index: 0;
        clip-path: var(--shape);
        background-color: var(--main-add-color);
    }

    .articles-container figcaption h2 {
        margin: 100px 20px 0;
        color: var(--secondary-color);
        font-size: 20px;
        font-weight: 600;

        transition: all .25s;
    }

    .articles-container .article-bottoms {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        top: -24px;
        height: 18px;
        margin: 0 20px;
    }
    
    .article-bottoms .article-tag {
        position: relative;
        top: -12px;
        width: fit-content;
        height: fit-content;
        padding: 12px 18px;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        z-index: 1;

        color: var(--main-add-color);
        transition: all .25s;
        background-color: var(--secondary-color);
        clip-path: var(--shape);
    }

    .article-bottoms .article-tag:hover {
        color: var(--main-color);
    }

    .article-bottoms .article-date {
        margin-left: -4px;
        text-align: right;
        width: 100%;
        height: fit-content;

        font-weight: 600;
        font-size: 12px;
        color: var(--secondary-color);
    }

    @media only screen and (min-width: 1680px) {
        .articles-container figcaption h2 {
            margin: 140px 20px 0;
        }
    }

    @media only screen and (max-width: 1280px) {
        .articles-container figcaption h2 {
            margin: calc(100% - 18vw) 20px 0;
        }
    }

    @media only screen and (max-width: 1080px) {
        .articles-grid {
            width: calc(100% - 80px);
        }

        .articles-container figcaption h2 {
            margin: calc(90% - 18vw) 20px 0;
        }
    }

    @media only screen and (max-width: 920px) {
        .articles-grid {
            width: 96%;
            margin: 20px auto 0;
            grid-template-columns: 1fr 1fr;
        }

        .articles-container figcaption h2 {
            margin: calc(90% - 26vw) 20px 0;
        }
    }

    @media only screen and (max-width: 640px) {
        .articles-grid {
            margin-top: 80px;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(6, auto);
        }

        .articles-container figcaption {
            top: calc(100% - 280px);
        }

        .articles-container figcaption h2 {
            margin: calc(100% - 360px) 20px 0;
        }
    }

    @media only screen and (max-width: 520px) {
        .articles-container figcaption {
            top: calc(100% - 320px);
        }

        .articles-container figcaption h2 {
            margin: calc(100% - 68vw) 20px 0;
        }
    }

    @media only screen and (max-width: 400px) {
        .articles-container figcaption {
            top: calc(100% - 360px);
        }

        .articles-container figcaption h2 {
            margin: calc(100% - 62vw) 20px 0;
        }
    }

/* MATCH SEcTION */

.matches {
    width: 100%;
    height: fit-content;
    background-color: var(--main-color);
    padding: 40px 0;
}

.matches-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(320px, 500px));
    justify-content: center;
    column-gap: 40px;
    width: 80%;
    margin: 40px auto;
}

    .match-item {
        display: grid;
        grid-template-rows: 16px 16px 2fr 16px 1fr;
        padding: 20px 0 10px;
        row-gap: 12px;
        place-items: center;
        width: 100%;
        background-color: var(--main-add-color);

        transition: all .55s;

        /* clip-path: var(--big-shape); */
    }

    .match-item:hover {
        box-shadow: 0 0 60px var(--main-add-color);
    }

    .match-name {
        font-size: 18px;
        font-weight: 600;
        color: var(--main-color);
    }

    .match-stage {
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        color: var(--secondary-color);
    }

    .match-info {
        display: grid;
        grid-template-columns: 1fr 80px 1fr;
        place-items: center;
        position: relative;
        width: 78%;
        margin: 0 auto;
    }

        .match-result {
            font-size: 24px;
            font-weight: 800;
            color: var(--secondary-color);
        }

        .match-item img {
            width: 60px;
            height: 60px;
        }

    .match-team-names {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        width: 100%;
        margin: 0 auto;
    }

    span[class|="team-name"] {
        width: 100%;
        text-align: center;
        font-weight: 600;
        color: var(--secondary-color);
    }

    .match-divider {
        display: block;
        position: relative;
        top: 0;
        left: 0;
        height: 2px;

        color: var(--secondary-color); /* OLD IE */
        background-color: var(--secondary-color); /* OTHERS */
    }

    .match-bottom {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 90%;
        margin: 0 auto;
    }

        .match-tag {
            position: relative;
            top: -12px;
            padding: 12px 18px;
            font-weight: 600;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: var(--main-add-color);
            background-color: var(--secondary-color);
            justify-self: left;
            transition: all .25s;
            clip-path: var(--shape);
        }

        .match-date {
            font-size: 12px;
            font-weight: 600;
            color: var(--secondary-color);
            justify-self: right;
        }

        .match-tag:hover {
            color: var(--main-color);
        }
    
        @media only screen and (max-width: 1080px) {
            .matches-container {
                grid-template-columns: repeat(2, minmax(320px, 500px));
                row-gap: 40px;
            }
        }
    
        @media only screen and (max-width: 920px) {
            .matches-container {
                grid-template-columns: repeat(1, minmax(320px, 500px));
                row-gap: 40px;
            }
        }
    
        @media only screen and (max-width: 640px) {
            .matches-container {
                grid-template-columns: repeat(1, minmax(300px, 500px));
                row-gap: 20px;
            }
        }

/* VIDEOS SECTION */

.videos-container {
    display: grid;
    grid-template-columns: 720px auto;
    width: 80%;
    margin: 100px auto 40px;


    background-color: #000;
    clip-path: var(--big-shape);
}

    .yt-video, .yt-video iframe {
        width: 100%;
        height: 600px;
    }

    .videos-container aside {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        gap: 20px;
        padding: 20px;
        background-color: var(--main-add-color);
    }

    .videos-container aside img {
        max-width: 100%;
        height: auto;
    }

    .videos-container aside > a {
        font-weight: 600;
        font-size: 18px;
        text-transform: capitalize;
        color: var(--secondary-color);
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 20px;
    }

    .preview-info h3 {
        transition: all .25s;
    }

    .videos-container aside > a:hover .preview-info h3 {
        color: var(--main-color);
    }

    .videos-container img {
        max-width: 100%;
        height: auto;
    }

    .preview-info {
        display: grid;
        grid-template-rows: auto 1fr;
        padding-bottom: 20px;
    }

    .preview-info > span {
        text-align: right;
        font-size: 12px;
        align-self: flex-end;
    }

.social-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: 0 auto 100px;
}

.instagram-container {
    display: grid;
    grid-template-areas: "i i i";
    grid-template-rows: 1fr 2fr 2fr;
    width: 98%;
    height: 240px;
    margin-right: 2%;
    overflow-y: auto;
    scrollbar-width: thin;
    background-color: var(--main-add-color);
    clip-path: var(--big-shape);
}
    .instagram-container > a {
        display: inline-block;
        padding: 10px 20px;
        font-weight: 600;
        color: var(--secondary-color);
    }

    .instagram-container a:first-child {
        color: var(--main-color);
        font-size: 20px;
        font-weight: 800;
        text-transform: uppercase;
        grid-area: i;
    }

.twitter-container {
    width: 98%;
    height: 240px;
    margin-left: 2%;
    background-color: var(--secondary-color);
    clip-path: var(--big-shape);
}

    .twitter-container a {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
    }

    .twitter-container img {
        max-width: 100%;
        height: auto;
        transition: all 1.25s;
    }

    .tweet-description {
        opacity: 0;
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 0 40px 20px;
        padding: 12px 20px;

        background-color: rgba(0, 0, 0, 0.3);
        
        transition: all 1.5s;
        color: var(--main-add-color);
        font-weight: 600;
        clip-path: var(--big-shape);
    }

    .twitter-container a:hover .tweet-description {
        opacity: 1;
    }

    .twitter-container a:hover img {
        opacity: 0.7;
        /* filter: blur(2px); */
    }

    @media only screen and (max-width: 1400px) {
        .videos-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr auto;
        }

        .videos-container aside {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr;
            height: fit-content;
        }

        .videos-container aside > a {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto 1fr;
            gap: 20px;
        }

        .preview-info {
            margin-right: 12px;
        }

        .yt-video, .yt-video iframe {
            height: 600px;
        }
    }

    @media only screen and (max-width: 1280px) {
        .social-container {
            display: grid;
            grid-template-columns: 1fr 2fr;
            width: 80%;
            margin: 0 auto 100px;
        }

        .social-container .instagram-container {
            /* grid-template-columns: 1fr 1fr; */
            grid-template-areas: "i i";
        }

        .instagram-container > a {
            display: inline-block;
            padding: 4px 12px;
            font-weight: 600;
            color: var(--secondary-color);
        }
    }

    @media only screen and (max-width: 1080px) {
        .social-container .instagram-container {
            grid-template-areas: "i";
        }

        .instagram-container > a {
            padding: 12px 4px 12px 8px;
        }
    }

    @media only screen and (max-width: 920px) {
        .videos-container {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr auto;
        }

        .yt-video, .yt-video iframe {
            height: 320px;
        }

        .videos-container aside {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr 1fr;
        }
        
        .social-container {
            grid-template-columns: 1fr;
            column-gap: 0;
            row-gap: 20px;
        }

        .social-container .instagram-container {
            grid-template-areas: "i i";
            margin: 0;
        }
        
        .instagram-container > a {
            padding: 12px 4px 12px 16px;
        }

        .twitter-container {
            margin: 0;
        }

        .twitter-container .tweet-description {
            opacity: 1;
        }
    
    }

    @media only screen and (max-width: 640px) {
        .yt-video, .yt-video iframe {
            height: 240px;
        }

        .social-container .instagram-container {
            grid-template-areas: "i";
            margin: 0;
        }

        .tweet-description {
            text-align: justify;
        }
    }

    @media only screen and (max-width: 400px) {
        .yt-video, .yt-video iframe {
            height: 180px;
        }

        .videos-container aside {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 1fr);
        }
    }

/* MERCH SECTION */

.merch-container {
    width: 100%;
    height: 100%;

    background-color: var(--main-color);
}

    .merch-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 80%;
        height: 100%;
        margin: 40px auto;
    }

    .merch-grid a {
        font-size: 0;
        display: block;
        width: 90%;
        height: 440px;
        margin: 40px auto;

        background-color: var(--main-add-color);
        clip-path: var(--big-shape);
    }

    .merch-grid a img {
        width: calc(100% - 60px);
        height: calc(100% - 60px);
        margin: 40px auto;
        max-width: 280px;
    }

    .merch-item {
        display: grid;
        height: 95%;
        grid-template-rows: 1fr 40px 40px auto;
        align-items: normal;
    }

        .merch-name {
            text-transform: capitalize;
        }

        .merch-item .merch-name, .merch-special h4 {
            width: 80%;
            margin: 0 auto;
            text-align: center;
            text-transform: capitalize;

            color: var(--secondary-color);
            font-weight: 600;
            font-size: 16px;
        }

        .merch-item .merch-price, .merch-special span {
            display: block;
            width: 50%;
            margin: 12px auto;
            text-align: center;

            color: var(--secondary-color);
            font-weight: 800;
            font-size: 16px;
        }

        .merch-item .btn-buy, .merch-special .btn-buy {
            display: block;
            width: 40%;
            height: 40px;
            margin: 0 auto;
            text-align: center;
            text-transform: uppercase;
            outline: none;
            border: none;
            letter-spacing: 2px;
            cursor: pointer;
            padding: 8px 14px;

            color: var(--main-add-color);
            background-color: var(--secondary-color);
            /* clip-path: var(--shape); */
            font-weight: 800;
            font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
            font-size: 16px;

            transition: all .25s;
        }

        .merch-grid a:hover .btn-buy {
            color: var(--main-color);
            /* box-shadow: 0 0 60px var(--main-color); */
            /* clip-path: var(--shape); */
        }

        .merch-grid a:active .btn-buy {
            clip-path: var(--shape);
        }

    .merch-special {
        border: 4px solid transparent;
        background: var(--main-add-color) url("assets/merch-4.jpg") center / cover;
        transition: all .25s;
    }

    .merch-special:hover {
        border: 4px solid var(--main-add-color);
    }

    .merch-special-item {
        display: grid;
        position: relative;
        height: 95%;
        grid-template-rows: 1fr 40px 40px auto;
        align-items: normal;
    }

    .merch-special h4 {
        width: 60%;
        height: fit-content;
        font-weight: 800;
        text-transform: uppercase;
        color: var(--main-add-color);

        padding: 4px 8px;
        clip-path: var(--shape);
        background-color: var(--secondary-color);
    }

    .merch-special span {
        letter-spacing: 3px;
        font-weight: 800;
        text-transform: uppercase;
        color: var(--main-add-color);
    }

    .merch-special .btn-buy {
        color: var(--secondary-color);
        background-color: var(--main-add-color);
    }

    @media only screen and (max-width: 1280px) {
        .merch-grid {
            width:  98%;
            margin: 40px auto;
        }
    }

    @media only screen and (max-width: 1080px) {
        .merch-grid {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    @media only screen and (max-width: 920px) {
        .merch-grid {
            grid-template-columns: 1fr 1fr;
        }
    }

    @media only screen and (max-width: 640px) {
        .merch-grid {
            grid-template-columns: 1fr;
        }

        .merch-grid a {
            margin: 0 auto 20px;
        }

        .merch-grid a:first-child {
            margin: 20px auto 20px;
        }
    }

/* APP SECTION */

.app-container {
    display: grid;
    grid-template-areas: "h2 h2 . img"
                         "p p   . img"
                         "sp sp . img"
                         "as gp . img";
    grid-template-columns: 3fr 3fr 1fr 5fr;
    grid-template-rows: 2fr 2fr 1fr 1fr;
    width: 70%;
    margin: 0 auto;
}

    .app-container h2 {
        display: block;
        grid-area: h2;
        margin-top: 60px;
        height: fit-content;
        color: var(--main-color);
        text-transform: uppercase;
        font-style: italic;
        font-weight: 800;
        font-size: 42px;
    }

    .app-container .mobile-app {
        display: block;
        grid-area: img;
        rotate: 18deg;
    }

    .app-container p {
        display: block;
        grid-area: p;

        height: fit-content;
        color: var(--main-add-color);
        font-weight: 600;
        font-size: 22px;
    }

    .app-container span {
        display: block;
        grid-area: sp;
        margin-top: 20px;

        height: fit-content;
        color: var(--main-color);
        font-style: italic;
        font-weight: 800;
        font-size: 32px;
        font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
    }

    .app-container .download-as {
        width: fit-content;
        height: fit-content;
        display: block;
        grid-area: as;
    }
    
    .app-container .download-gp {
        margin-left: 10px;
        width: fit-content;
        height: fit-content;
        display: block;
        grid-area: gp;
    }

    @media only screen and (max-width: 1280px) {
        .app-container .mobile-app {
            align-self: center;
            width: 120%;
            height: auto;
        }
    }

    @media only screen and (max-width: 1080px) {
        .before-footer {
            display: block;
        }
    }

    @media only screen and (max-width: 920px) {
        .app-container {
            display: grid;
            grid-template-areas: "h2 h2 img"
                                 "p p   img"
                                 "sp sp img"
                                 "as gp img";
            grid-template-columns: 2fr 2fr 5fr;
            grid-template-rows: 2fr 2fr 1fr 1fr;  
            width: 78%;
            margin: 0 auto;
        }
    }

    @media only screen and (max-width: 640px) {
        .app-container {
            display: grid;
            grid-template-areas: "h2   h2"
                                 "p     p"
                                 "img img"
                                 "sp   sp"
                                 "as   gp";
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr auto 1fr auto;
            width: 78%;
            margin: 0 auto;
        }

        .app-container h2 {
            align-self: center;
        }

        .app-container .mobile-app {
            position: relative;
            top: 0;
            left: -40px;
            align-self: center;
            width: 100%;
            height: auto;
        }

        .app-container span {
            margin-bottom: 40px;
            align-self: end;
        }
    }

    @media only screen and (max-width: 400px) {
        .app-container {
            display: grid;
            grid-template-areas: "h2"
                                 "p"
                                 "img"
                                 "sp"
                                 "as"
                                 "gp";
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr auto 1fr auto auto;
            width: 78%;
            margin: 0 auto;
        }

        .app-container .mobile-app {
            position: relative;
            top: 40px;
            left: -40px;
            align-self: center;
            width: 100%;
            height: auto;
        }

        .app-container span {
            text-align: center;
            justify-self: center;
        }
        
        .app-container .download-as {
            justify-self: center;
        }

        .app-container .download-gp {
            margin: 10px 0 0 0;
            justify-self: center;
        }
    }

/* FOOTER */

footer {
    margin-top: 60px;
    padding: 80px 0 20px;
    height: fit-content;
    background-color: var(--secondary-color);
}

.partners-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 10px ;
    column-gap: 20px;
    align-items: center;
    width: 80%;
    margin: 0 auto;

    /* background-color: var(--main-color); */
}

    .partners-container a {
        padding: 20px;
    }

    .partners-container a img {
        display: block;
        width: 60%;
        margin: 0 auto;
        height: auto;

        opacity: 0.5;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);

        transition: all .5s;
    }

    .partners-container a img:hover {
        opacity: 1.0;
    }

    .horiz-rule {
        width: 80%;
        margin: 0 auto;
        height: 2px;
        color: var(--main-color); /* OLD IE */
        background-color: var(--main-color); /* OTHERS */
    }

    .hr-920 {
        display: none;
    }

    @media only screen and (max-width: 920px) {
        .partners-container {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 10px 1fr 10px ;
        }

        .hr-main {
            display: none;
        }

        .hr-920 {
            display: block;
        }
    }

.social-media {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
    width: 80%;
    margin: 40px auto;
    height: 120px;

    /* background-color: var(--main-color); */
}

    .social-media a {
        color: rgba(255, 255, 255, 0.7);
        text-align: right;
        font-weight: 600;
        font-size: 16px;
        border-radius: calc(82.4px / 2);
        padding: 8px 40px 8px 8px;
        background-color: var(--main-color);

        transition: all .5s;
    }

    .social-media img {
        position: relative;
        top: 1px;
        /* filter: drop-shadow(0 0 2px var(--main-color)) invert(75%); */
        filter: grayscale(100%);
        opacity: 0.8;

        transition: all 1s;
    }

    .social-media a:hover img {
        filter: saturate(1.5) hue-rotate(20deg);

        opacity: 1.0;
    }

    .social-media a .social-num {
        position: relative;
        top: -13px;
        left: 13px;
    }

    .social-media a:hover {
        color: rgba(255, 255, 255, 1);
    }

    @media only screen and (max-width: 1080px) {
        .social-media a .social-num {
            display: none;
        }

        .social-media a {
            padding: 8px;
        }
    }

    @media only screen and (max-width: 640px) {
        .social-media a {
            background-color: transparent;
        }

        .social-media a img {
            width: 30px;
            height: 30px;
        }
    }

    @media only screen and (max-width: 400px) {
        .app-container {
            display: grid;
            grid-template-areas: "h2"
                                 "p"
                                 "img"
                                 "sp"
                                 "as"
                                 "gp";
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr auto 1fr auto auto;
            width: 78%;
            margin: 0 auto;
        }
    }

.copyright {
    display: block;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

    .copyright span, .copyright a {
        display: inline-block;
        margin-bottom: 12px;
        color: var(--main-add-color);
        font-size: 16px;
        font-weight: 200;
        font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
    }

    .copyright a {
        font-weight: 400;

        transition: all .25s;
    }

    .copyright a:hover {
        color: var(--main-color);
    }

/* COOKIE CONTAINER */

.cookie {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: fit-content;

    z-index: 3;

    background-color: var(--main-add-color);
}

    .cookie-container {
        display: block;
        width: 90%;
        height: 100%;

        margin: 24px auto 42px auto;
    }

    .cookie-container span {
        display: inline-block;
        position: relative;
        top: 24px; 
        margin: 0 5vw 24px 0;
        color: var(--secondary-color);
        font-size: 16px;
        font-weight: normal;
        font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
    }

    .cookie-container span a {
        color: var(--main-color);
        font-weight: 800;

        transition: all .25s;
    }

    .cookie-container span a:hover {
        color: var(--secondary-color);
        /* text-shadow: 0 0 20px var(--secondary-color); */
    }

    .cookie-container .btn-close {
        display: inline-block;
        color: var(--main-add-color);
        position: relative;
        top: 16px;
        padding: 8px 14px;
        background-color: var(--main-color);
        text-transform: uppercase;
        font-weight: 800;
        font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
        outline: none;
        border: none;
        cursor: pointer;

        transition: all .25s;
    }

    .cookie-container .btn-close:hover {
        color: var(--main-color);
        background-color: var(--secondary-color);
        box-shadow: 0 0 60px var(--main-color);
        /* clip-path: var(--shape); */
    }

    @media only screen and (min-width: 1032px) {
        .cookie-container span {
            float: left;
        }

        .cookie-container .btn-close {
            float: right;
        }
    }

/* NEWS PAGE */

.titlepage {
    width: 80%;
    margin: 100px auto 0;
}

    .title {
        font-size: 42px;
        font-weight: 800;
        color: var(--main-add-color);
    }

    .sorting {
        position: relative;
        font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
        font-size: 14px;
        font-weight: 800;
        text-transform: uppercase;
        width: fit-content;
        margin-top: 20px;
        padding: 12px 18px;
        color: var(--secondary-color);
        background-color: var(--main-add-color);
        cursor: pointer;

        transition: all .25s;
    }

        .sorting:hover {
            box-shadow: 0 0 60px var(--main-color); 
        }

        .dropdown-sorting {
            display: none;
            position: relative;
            top: 12px;
            left: 12px;
            width: 200px;
            height: auto;
            padding: 20px;

            line-height: 1.1;
            font-weight: 600;
            font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;

            background-color: var(--main-add-color);
            z-index: 3;
            clip-path: var(--shape);
        }
          
        .form-control {
            text-transform: uppercase;
            font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
            font-size: 14px;
            font-weight: 800;
            line-height: 1.1;
            display: grid;
            grid-template-columns: 1em auto;
            gap: 1em;

            transition: all .25s;
            cursor: pointer;
        }
          
        .form-control + .form-control {
            margin-top: 1em;
        }

        input[type="checkbox"] {
            cursor: pointer;
            /* REMOVE DEFAULT CHECKBOX */
            -webkit-appearance: none;
            appearance: none;
            background-color: var(--form-background);
            margin: 0;
            

            /* ADD CUSTOM CHECKBOX [UNCHECKED] */
            font: inherit;
            color: var(--secondary-color);
            width: 1.2em;
            height: 1.2em;
            border: 0.15em solid var(--secondary-color);
            border-radius: 0.2em;
            transform: translateY(-0.075em);
            
            display: grid;
            place-content: center;
        }
          
        input[type="checkbox"]::before {
            /* ADD CUSTOM CHECKBOX [UNCHECKED] */
            content: "";
            position: relative;
            width: 0.4em;
            height: 0.4em;
            box-shadow: inset 1em 1em var(--main-color);
            transform: scale(0);
            transform-origin: center center;
            transition: .12s transform ease-in;
            box-shadow: inset 1em 1em var(--main-color);

            /* Windows High Contrast Mode */
            background-color: CanvasText;
        }

        input[type="checkbox"]:checked::before {
            transform: scale(1);
        }

        input[type="checkbox"]:focus {
            outline: 1px solid var(--main-color);
        }

        .active-sorting {
            clip-path: var(--shape);
            color: var(--main-add-color);
            background-color: var(--main-color);
        }

        .form-images {
            grid-template-columns: 20px 20px 1fr;
            gap: 10px;
        }

        .form-control > img {
            display: block;
            position: relative;
            top: -2px;
            width: 20px;
            height: 20px;
        }


.news-page {
    grid-template-rows: repeat(4, 440px);
}

/* TEAMS PAGE */

.teams-grid {
    width: 80%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 40px;
}

.teams-container {
    position: relative;
    width: 100%;
    height: 220px;
    padding: 40px;
    border: 2px solid var(--secondary-color);
    clip-path: var(--big-shape);
    filter: contrast(1.5);

    transition: all .8s;
}

    .teams-container:nth-child(1) {
        background: center / cover var(--main-add-color) url(assets/dota2.jpg);
    }

    .teams-container:nth-child(2) {
        background: center / cover var(--main-add-color) url(assets/csgo.jpg);
    }

    .teams-container:nth-child(3) {
        background: center / cover var(--main-add-color) url(assets/pubg.jpeg);
    }

    .teams-container:nth-child(4) {
        background: center / cover var(--main-add-color) url(assets/r6.jpg);
    }

    .teams-container:nth-child(5) {
        background: center / cover var(--main-add-color) url(assets/csgo2.jpg);
    }

    .teams-container:nth-child(6) {
        background: center / cover var(--main-add-color) url(assets/pubg-mobile.jpg);
    }

    .teams-container:nth-child(7) {
        background: center / cover var(--main-add-color) url(assets/free-fire.jpg);
    }

    .teams-container:nth-child(8) {
        background: center / cover var(--main-add-color) url(assets/warface.jpg);
    }

.teams-container > img {
    position: absolute;
    left: 40px;
    bottom: 40px;
    width: 40px;
    height: auto;
}

.teams-container > h2 {
    position: absolute;
    left: 90px;
    bottom: 40px;
    font-size: 32px;
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
    color: var(--secondary-color);
    transition: all .6s;

    text-shadow: 0.5px 0.5px 0 var(--main-color), -0.5px 0.5px 0 var(--main-color), 0.5px -0.5px 0 var(--main-color), -0.5px -0.5px 0 var(--main-color), 0.5px 0 0 var(--main-color), 0 0.5px 0 var(--main-color), -0.5px 0 0 var(--main-color), 0 -0.5px 0 var(--main-color);
}

.teams-container:hover {
    border: 2px solid var(--main-color);
}

.teams-container:hover h2 {
    /* color: var(--main-color); */
    text-shadow: 0.5px 0.5px 0 var(--main-add-color), -0.5px 0.5px 0 var(--main-add-color), 0.5px -0.5px 0 var(--main-add-color), -0.5px -0.5px 0 var(--main-add-color), 0.5px 0 0 var(--main-add-color), 0 0.5px 0 var(--main-add-color), -0.5px 0 0 var(--main-add-color), 0 -0.5px 0 var(--main-add-color);
}

    @media only screen and (max-width: 1220px) {
        .teams-grid {
            grid-template-columns: 1fr 1fr;
        }
    }

    @media only screen and (max-width: 840px) {
        .teams-grid {
            grid-template-columns: 1fr;
        }

        .teams-container {
            height: 320px;
        }
    }

    @media only screen and (max-width: 400px) {
        .teams-container > h2 {
            font-size: 24px;
            padding: 0 40px 0 0;
            word-break: break-word;
        }
    }

/* MATCHES PAGE */

.match-page-container {
    width: 80%;
    margin: 40px auto;
}

.match-page-container a {
    display: grid;
    grid-template-areas: 
    "b i n"
    "b t s";
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-rows: auto 1fr;
    gap: 0;

    width: 100%;
    height: 80px;
    margin: 20px 0;
    padding: 10px 0;
    color: var(--secondary-color);
    border: 2px solid var(--main-add-color);
    background-color: var(--main-add-color);
    clip-path: var(--shape);
}

    .match-page-container .match-name {
        grid-area: n;
        justify-self: left;
    }

    .match-page-container .match-stage {
        position: relative;
        top: -8px;
        grid-area: s;
        justify-self: left;
    }

    .match-page-container .match-info {
        grid-area: i;
    }

    .match-page-container .match-team-names {
        grid-area: t;
    }

    .match-page-container .match-divider {
        display: none;
        grid-area: d;
    }

    .match-page-container .match-bottom {
        grid-area: b;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

        .match-page-container .match-result {
            margin-top: 14px;
        }

        .match-page-container .match-tag {
            padding: 10px 16px;
            height: fit-content;
            top: -2px;
        }

        .match-page-container .match-date {
            margin-top: 8px;
            justify-self: left;
            height: fit-content;
        }

        .match-page-container img {
            width: 32px;
            height: 32px;
        }

.match-page-container .match-item:hover {
    border: 2px solid var(--main-color);
}

@media only screen and (max-width: 1080px) {
    .match-page-container a {
        display: grid;
        grid-template-areas: 
        "n" "s" "i" "t" "b";
        grid-template-columns: 1fr;
        grid-template-rows: 16px 16px 2fr 16px 1fr;
        row-gap: 4px;

        height: fit-content;
    }

    .match-page-container .match-bottom {
        grid-area: b;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .match-page-container .match-name {
        justify-self: center;
    }

    .match-page-container .match-tag {
        top: 0;
        justify-self: right;
    }

    .match-page-container .match-stage {
        top: 4px;
        justify-self: center;
    }

    .match-page-container img {
        width: 48px;
        height: 48px;
    }
}


@media only screen and (max-width: 520px) {
    .match-page-container {
        width: 98%;
        margin: 40px auto;
    }
}

/* RESULTS PAGE */

.results-page-container {
    /* padding: ; */
}

.results-page-container table {
    width: 80%;
    margin: 20px auto 0;
    color: var(--secondary-color);
    font-weight: 400;
    font-size: 14px;
    font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
    border-collapse: collapse;
}

    .results-page-container tr {
        clip-path: var(--shape);
    }

    .results-page-container thead {
        height: 40px;
    }

    .results-page-container th {
        text-align: left;
        font-size: 18px;
        font-weight: 600;
        color: var(--main-color);
        padding: 8px 0;
        vertical-align: middle;
    }

    .results-page-container tbody tr {
        background-color: var(--main-add-color);
    }

    .results-page-container td {
        vertical-align: middle;
    }

    td .match-tag {
        top: 0;
    }

    td a {
        color: var(--main-color);
    }

    td img {
        margin: 16px 0;
        vertical-align: middle;
        width: 40px;
        height: 40px;
    }

        .results-page-container tbody tr td:nth-child(1) {
            text-align: center;
        }

        .results-page-container tbody tr td:nth-child(3) {
            font-weight: 800;
        }

        .results-page-container tbody tr td:nth-child(4) {
            font-weight: 800;
        }

        .results-page-container tbody tr td:nth-child(7) {
            font-weight: 600;
        }

/* SHOP PAGE */

.shop-grid {
    grid-template-rows: repeat(2, 1fr);
}

.price-container {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
}

    .titlepage h2 {
        margin-top: 20px;
        font-weight: 600;
        text-transform: uppercase;
        color: var(--main-add-color);
    }

    .price-container > label {
        color: var(--main-add-color);
        font-size: 16px;
    }

    .price-container > input {
        font-weight: 800;
        font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
        color: var(--secondary-color);
        width: 100px;
        border-radius: 0;
        padding: 2px 4px;
        border: 2px solid var(--secondary-color);
    }

    .price-container > input:focus {
        outline: 0 solid var(--main-color);
        border: 2px solid var(--main-color);
    }

/* FAN CENTER */

.under-const {
    display: block;
    font-size: 42px;
    font-weight: 800;
    font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 40px;
    color: var(--main-color);
}

@media only screen and (max-width: 520px) {
    .under-const {
        font-size: 8vw;
    }
}